[access]
	inheritFrom = Public-Plugins
[project]
	description = A plugin that takes care of automatically submitting changes when all approvals and preconditions are satisfied.
[access "refs/*"]
	owner = group plugins-autosubmitter
	create = group plugins-autosubmitter
	createTag = group plugins-autosubmitter
	createSignedTag = group plugins-autosubmitter
	exclusiveGroupPermissions = create
	push = +force group plugins-autosubmitter
