[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	owner = group plugins-autosubmitter
	create = group plugins-autosubmitter
	createTag = group plugins-autosubmitter
	createSignedTag = group plugins-autosubmitter
	push = +force group plugins-autosubmitter
	forgeAuthor = group plugins-autosubmitter
	forgeCommitter = group plugins-autosubmitter
	forgeServerAsCommitter = group plugins-autosubmitter
	exclusiveGroupPermissions = create forgeCommitter forgeServerAsCommitter push
